<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
</head>
<body>
     <main>
        <%-include("Navbar.ejs")%>
        

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Us </h2>
                </div>
            </div>
        </div>


        <%-include("Footer.ejs")%>
     </main>
</body>
</html>