<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <section style="margin-top: 60px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/user_assets/images/musical_about.png" class="w-100 h-100"/>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center" >
                        <div class="">
                            <h1>About Us</h1>
                        <p>We, dummy company, situated at area, city, state are the world’s largest retailer of guitars, amplifiers, drums, keyboards, recording, live sound, DJ, and lighting equipment. All our products, from electric guitars to an audio mixer are new and come with a manufacturer’s warranty. We are able to keep our prices low due to the sheer volume of the products we sell. This volume discount is passed along to our customers in great savings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>

        </footer>
    </main>
</body>
</html>