<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <section style="margin-top: 70px;">
            <h1>Contact Page</h1>
        </section>

        <footer>
            <%-include("Footer.ejs")%>
        </footer>
    </main>
</body>
</html>