<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>

    .testimonial-section {
        text-align: center;
        padding: 60px 20px;
    }

 

    .carousel-wrapper {
        position: relative;
        max-width: 900px;
        margin: auto;
    }

    .testimonial-card {
        background: #fff;
        color: #000;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        min-width: 280px;
        margin: 10px;
        transition: transform 0.4s ease-in-out;
    }

    .testimonial-card img {
        width: 250px;
        height: 150px;
       
    }


    .scroll-container {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 15px;
        padding: 20px 0;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .arrow-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.2);
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.3s;
    }

    .arrow-btn:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    .prev-btn {
        left: -40px;
    }

    .next-btn {
        right: -40px;
    }

</style>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <!-- Slider Section -->
        <section class="first_section" style="margin-top: 70px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 p-0" data-aos="fade-up">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            
                                <% slider_info.map((row, i)=>{ %>
                                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                    <img src="/uploads/<%-row.slider_image%>" class="d-block w-100 h-75" alt="Slider 1">
                                </div>
                                <% }) %>

                                

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <!-- Musical Instruments -->
         <section>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Musical Instruments</h3>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://image3.jdomni.in/banner/17032022/E6/6D/CE/97A0D6A336AF317A045419F490_1647517226170.png?output-format=webp"/>
                        </div>
                        <h4 class="text-center mt-3">Pianos</h4>
                    </div>
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://image3.jdomni.in/banner/17032022/57/09/70/0998B576A18F2C902046C3559D_1647517232923.png?output-format=webp"/>
                            
                        </div>
                        <h4 class="text-center mt-3">Keboard instrument</h4>
                    </div>
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://image2.jdomni.in/banner/17032022/C6/93/37/EB9155F92223612F04E00FCB60_1647517239008.png?output-format=webp"/>
                            
                        </div>
                        <h4 class="text-center mt-3">Guiters</h4>
                    </div>

                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://image3.jdomni.in/banner/17032022/0C/23/B6/CD01DED416DB4EA2A226EB7756_1647517244837.png?output-format=webp"/>
                        </div>
                        <h4 class="text-center mt-3">Drums</h4>
                    </div>

                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://image3.jdomni.in/banner/27122022/CB/3A/65/A61EB9E07ECECAA24480CFE98A_1672082569407.png?output-format=webp"/>
                        </div>
                        <h4 class="text-center mt-3">Sampler</h4>
                    </div>

                   
                </div>
            </div>
         </section>

         <!-- Latest Products -->
          <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Latest Products</h3>
                    </div>
                </div>
                <div class="row mt-3">
                  
                    <div class="col-md-3 mt-4">
                        <a href="/product_details">
                            <div class="card border-0">
                                <img src="https://image1.jdomni.in/product/01/F4/74/Acoustic-Drums_1496414200850.jpg"/>
                            </div>
                            <div class="card-body mt-2 ms-5">
                                <h6 class="card-title text-truncate mb-1">Acoustic Drums</h6>
                                <h6 class="mb-0">₹ 2250</h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mt-4">
                        <a href="/product_details">
                            <div class="card border-0">
                                <img src="https://image1.jdomni.in/product/2D/78/94/Flutes_1496413960710.jpg"/>
                            </div>
                            <div class="card-body mt-2 ms-5">
                                <h6 class="card-title text-truncate mb-1">Wooden Basuri</h6>
                                <h6 class="mb-0">₹ 1250</h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mt-4">
                        <a href="/product_details">
                            <div class="card border-0">
                                <img src="https://image1.jdomni.in/product/DC/34/02/Tubas_1496413846955.jpg"/>
                            </div>
                            <div class="card-body mt-2 ms-5">
                                <h6 class="card-title text-truncate mb-1">Tubas Musicla instrument</h6>
                                <h6 class="mb-0">₹ 250</h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mt-4">
                        <a href="/product_details">
                            <div class="card border-0">
                                <img src="https://image1.jdomni.in/product/92/3A/E2/Electric-Guitars_1496413617510.jpg" style="height: 200px;"/>
                            </div>
                            <div class="card-body mt-2 ms-5">
                                <h6 class="card-title text-truncate mb-1">Electric Guiters</h6>
                                <h6 class="mb-0">₹ 250</h6>
                            </div>
                        </a>
                    </div>



                    
                   
                </div>

                <div class="row mt-4 mb-4">
                   <div class="col-md-12 text-center">
                    <a href="/product"><button class="btn btn-primary">More Products</button></a>
                   </div>
                </div>

            </div>
          </section>

          <section class="testimonial-section">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Brands</h3>
                </div>
            </div>
       
            <div class="carousel-wrapper">
                <button class="arrow-btn prev-btn" onclick="scrollLeft()">❮</button>
    
                <div class="scroll-container" id="scroll-container">
                    <div class="testimonial-card">
                        <img src="https://image1.jdomni.in/banner/12092023/77/EB/DC/84991223EF36E42FDE67B44FB9_1694520326638.png?output-format=webp" alt="User">
                    </div>
    
                
                    <div class="testimonial-card">
                        <img src="https://image3.jdomni.in/banner/12092023/9A/23/3C/1C7BEC8669C4FE5C58C34777F4_1694520239452.png?output-format=webp" alt="User">
                    </div>
    
                    <div class="testimonial-card">
                        <img src="https://image2.jdomni.in/banner/12092023/7B/F9/D1/B9FF876C5063311A1F6624FE9B_1694520453322.png?output-format=webp" alt="User">
                    </div>
    
                    <div class="testimonial-card">
                        <img src="https://image2.jdomni.in/banner/12092023/11/42/41/F032AEE01DE5497999FBE8A82E_1694520767229.png?output-format=webp" alt="User">
                    </div>
    
                </div>
    
                <button class="arrow-btn next-btn" onclick="scrollRight()">❯</button>
            </div>
        </section>

        <footer>
            <%-include("Footer.ejs")%>
        </footer>
    </main>

    <!-- Brands  -->
    <script>
        let scrollContainer = document.getElementById("scroll-container");
    
        function scrollLeft() {
            scrollContainer.scrollBy({ left: -300, behavior: "smooth" });
        }
    
        function scrollRight() {
            scrollContainer.scrollBy({ left: 300, behavior: "smooth" });
        }
    
        // Auto-scroll every 3 seconds
        setInterval(() => {
            if (scrollContainer.scrollLeft + scrollContainer.clientWidth >= scrollContainer.scrollWidth) {
                scrollContainer.scrollTo({ left: 0, behavior: "smooth" });
            } else {
                scrollContainer.scrollBy({ left: 300, behavior: "smooth" });
            }
        }, 3000);
    </script>
</body>
</html>