<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <section style="margin-top: 7px;">
            <!-- product -->
            <form action="/save_in_cart" method="post">
                <div>
                    <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-lg-6 col-12">
                        <!-- product view slider -->
                        <div class="swiper product-view-slider">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://image1.jdomni.in/product/01/F4/74/Acoustic-Drums_1496414200850.jpg" alt="view-1" class="img-fluid" style="width: 70%; position: relative; left: 15%;" >
                            </div>

                           
                                <div class="swiper-slide">
                                    <img src="https://image3.jdomni.in/banner/17032022/E6/6D/CE/97A0D6A336AF317A045419F490_1647517226170.png?output-format=webp" alt="view-2" class="img-fluid"style="width: 70%; position: relative; left: 15%;">
                                </div>
                           

                           
                                <div class="swiper-slide">
                                    <img src="https://image1.jdomni.in/product/01/F4/74/Acoustic-Drums_1496414200850.jpg" alt="view-3" class="img-fluid"style="width: 70%; position: relative; left: 15%;">
                                </div>
                           

                           
                                <div class="swiper-slide">
                                    <img src="https://image3.jdomni.in/banner/17032022/E6/6D/CE/97A0D6A336AF317A045419F490_1647517226170.png?output-format=webp" alt="view-4" class="img-fluid"style="width: 70%; position: relative; left: 15%;">
                                </div>
                           
                            </div>  
                        </div>
                        </div>
                        <div class="col-lg-6 col-12">
                        <div class="sticky-sidebar p-5">
                            <div class="mb-4">
                            <h1 class="fw-bold">Acoustic Drums</h1>
                            <h2 class="fw-bold mb-0">2250<span class="text-secondary-emphasis fw-normal fs-6">(MRP incl. of all taxes)</span>
                            </h2>
                            </div>
                            <div class="d-flex align-items-center gap-4 mb-5 product-detail-select-size">
                          
                            <div>
                                <h6 class="fw-bold pb-1">Select Quantity</h6>
                                <div class="btn-group border border-2 border-dark rounded-0 number w-50">
                                <a class="btn btn-outline-dark rounded-0 border-0 border-end border-2 border-dark minus">
                                    <i class="ri-subtract-fill"></i>
                                </a>
                                <input class="form-control border-0 rounded-0 text-center p-0 count" type="text" value="1" name="quantity">
                                <a class="btn btn-outline-dark rounded-0 border-0 border-start border-2 border-dark plus">
                                    <i class="ri-add-fill"></i>
                                </a>
                                </div>
                            </div>
                            </div>
                                <div class="row g-4 mb-5">
                                    <div class="col">
                                        <a href="/cart" class="btn btn-outline-dark py-2 rounded-0 border-2 w-100">Continue With Cart</a>
                                    </div>
                                </div>
                          
                                <div class="row g-4 mb-5">
                                    <div class="col">
                                        <button class="btn btn-outline-dark py-2 rounded-0 border-2 w-100">ADD TO CART</button>
                                    </div>
                                </div>
                            
                            <div class="mb-4">
                            <p class="text-secondary-emphasis">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Error minima adipisci dignissimos eos eaque non rerum odit ullam explicabo voluptatibus tenetur,
                                 fugiat voluptatem impedit quia voluptate, sunt, temporibus corrupti et.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </section>

        <footer>
            <%-include("Footer.ejs")%>
        </footer>
    </main>
</body>
</html>